<div id="<%= dom_id recommendation %>">
  <p>
    <strong>Student firstname:</strong>
    <%= recommendation.student_firstname %>
  </p>

  <p>
    <strong>Student lastname:</strong>
    <%= recommendation.student_lastname %>
  </p>

  <p>
    <strong>Student email:</strong>
    <%= recommendation.student_email %>
  </p>

  <p>
    <strong>Course index:</strong>
    <%= recommendation.course_index %>
  </p>

  <p>
    <strong>Course section:</strong>
    <%= recommendation.course_section %>
  </p>

  <p>
    <strong>Reasons:</strong>
    <%= recommendation.reasons %>
  </p>

</div>
