<% if current_user %>
  <h1>Editing recommendation</h1>

  <%= render "form", recommendation: @recommendation %>

  <br>

  <div>
    <%= link_to "Show this recommendation", @recommendation %> |
    <%= link_to "Back to recommendations", recommendations_path %>
  </div>
<% else %>
  <p>You are not signed in.</p>
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Login", new_user_session_path %>
<% end %>
