<%= render @course %>

<div>
  <%= link_to "Back to courses", courses_path %>
  <% if current_user.present? and current_user.admin? %>
    | <%= link_to "Edit this course", edit_course_path(@course) %> |
    <%= link_to "Add a section", new_course_section_path(course_id: @course.id)%>
    <%= button_to "Destroy this course", @course, method: :delete %>
  <% end %>
</div>
